html,
body {
  margin: 0;
  padding: 0;
  background-color: #5700b3;
}
.container {
  display: block;
  position: relative;
  width: 100%;
  height: 241px;
  margin: 0px;
  padding: 0px;
}
.img-denuncia {
  width: 100%;
  height: 100%;
  left: 10px;
  margin: 0px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.logo {
  position: absolute;
  width: 66px;
  height: 70px;
}
.container-comentario {
  background-color: #3f83ea;
  height: 539px;
  margin-top: 72px;
  border-radius: 25px;
  color: #3f83ea;
}
.container-tags {
  color: #fff;
  font-family: "Lilita One";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #1d4278;
  width: 205px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 25px;
  margin: 25px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: -120px;
}
.container-tags:hover {
  color: #fff;
  font-family: "Lilita One";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #143058;
  width: 205px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 25px;
  margin: 25px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: -120px;
}
.post-like {
  transform: scaleX(-1);
  font-size: 1.4rem;
  color: white;
  background-color: #1d4278;
  width: 65px;
  height: 62px;
  border-radius: 1000px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 293px;
}
.noticia {
  color: #fff;
  font-family: "Lilita One";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
.post-like:hover {
  color: white;
  background-color: #143058;
  width: 65px;
  height: 62px;
  border-radius: 1000px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 293px;
}
.container-perfil {
  color: #fff;
}
.container-perfil img {
  width: 46px;
  height: 43px;
  flex-shrink: 0;
  border-radius: 10000px;
}
.container-perfil li {
  display: inline-block;
  flex: auto;
  list-style: none;
  align-items: center;
  text-align: center;
}
.upload {
  margin-left: 186px;
  font-size: 1.3rem;
  flex-shrink: 0;
}
.comentario {
  margin-left: 30px;
  font-size: 1.3rem;
  flex-shrink: 0;
}
hr {
  width: 336.001px;
  height: 3px;
  background-color: #1d4278;
  border: none;
}
.info p {
  text-align: justify;
  margin-left: 44px;
  margin-right: 44px;
  flex: auto;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: "Lilita One";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}